@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;1,100;1,300;1,400&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,700&display=swap');


/* Estilos gerais */
:root{
  --corprincipal: rgba(65,105,225);
  --corsecundaria: rgba(75,0,130, 0.7);
  --corterciaria: rgba(255,228,225);
  --background: rgba(192,192,192, 0.5);
}

*{
margin-top: 10px;
}

/* Estilos do corpo */
body{
background-color: var(--background);
background-size: cover;
background-repeat: no-repeat;
font-family: "Lato", sans-serif;
display: flex;
justify-content: center;
width: 500px;
margin: 0 auto;
color: var(--corsecundaria);
}

ion-icon {
  font-size: 48px;
  width: 25px;
  height: 25px;
  color: var(--corsecundaria);
}

ion-icon:hover {
  color: var(--corterciaria)
}

textarea {
  resize: none;
}

/* Estilos gerais */
.cabecalho {
  display: flex;
  justify-content: center;
  padding: 2%;
  margin: 30%;

}

.cabecalho h1{
  font-weight: bold;
  color: var(--corprincipal);
  
}

.botao-estilo{
  padding: 10px 5px;
  background: var(--corprincipal);
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: var(--corterciaria);
  font: 600 1.125rem/1.35 "Lato", sans-serif;
  max-width: max-content;
  border: none;
  cursor: pointer;
}

.caixa {
  border-radius: 10px;
  box-shadow:  10px 20px var(--corsecundaria);
}

.caixa-2 {
  border-radius: 40px;
  box-shadow:  10px 5px var(--corsecundaria);
}

.botao-estilo:hover {
  background: var(--corsecundaria);
}

.rodape{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  height: 100%;
  margin-top: 170px;
  margin-left: 40px;
  background-color: var(--corprincipal);
  color: var(--corterciaria);
  border-radius: 20px;
}
.rodape .icons {
  border: 4px dashed var(--corsecundaria);
  border-radius: 10%;
  padding: 20px;
}
.rodape h3{
  color: var(--corterciaria);
  justify-content: center;
}
